<div class="container">
  <h1 class="text-center mt-5">Menu Building</h1>
  <div class="">
    <div class="text-center">
        <table class="table">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">address</th>
            <th scope="col">zip_code</th>
            <th scope="col">city</th>
            <th scope="col">country</th>
            <th scope="col">manager_name</th>
            <th scope="col">Edit</th>
          </tr>
          </thead>
          <tbody>
            <% @buildings.each do |building| %>
              <tr>
                <td><%= building.reference.to_s %></td>
                <td><%= building.address.to_s %></td>
                <td><%= building.zip_code.to_s %></td>
                <td><%= building.city.to_s %></td>
                <td><%= building.country.to_s %></td>
                <td><%= building.manager_name.to_s %></td>
                <th scope="row"><%= link_to "Edit", edit_building_path(building.id) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <div class="mt-3">
        <h3 class="mt-5">Import a csv file</h3>
        <%= simple_form_for :import, url: import_buildings_path do |f| %>
          <%= f.input :file, as: :file, input_html: { accept: 'text/csv' } %>
          <%= f.submit "Submit", class:"btn btn-primary mt-3" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
